@use './../../stylesheet.scss' as styles;
.hero {
    height: 44rem;
    width: 100vw;
    background-color: grey;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../../assets/images/restaurant.jpg');
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

    &-title{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 3rem;
        font-family: 'Kalam';
    }
}

@media (max-width: styles.$screen-size-md) {
    .hero {
        &-title {
            text-align: center;
            padding: 4rem;
        }
    }
}

@media (max-width: styles.$screen-size-sm) {
    .hero {
        &-title {
            text-align: center;
        }
    }
}