
$color-red: #cd0b0b;
$color-dark-red: #b00d0b;
$color-white: #f7f5f5;
$color-black: #000;

$font-size-sm: 12px;
$font-size: 16px;
$font-size-md: 20px;
$font-size-lg: 24px;

$screen-size-sm: 680px;
$screen-size-md: 1024px;
